# build output
dist

# dependencies
node_modules/

# cloudflare-specific files
gql-worker-reference/
# netlify-specific files
.netlify/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
