---
import Layout from '../layouts/base.astro'
import slugify from 'slugify'

let galaxies = []
// TODO: fetch galaxy summary info
---
<Layout title='🌌 Space explorer'>
	<main>
	{galaxies.map(galaxy => (
		<article class="galaxy">
			<h2>{galaxy.title}</h2>
			<p>{galaxy.description}</p>
			<a class="link" href={slugify(galaxy.title)}>Take me there 🚀</a>
		</article>
	))}
	</main>
</Layout>

<style>
a {
	color: inherit;
}

main {
	display: grid;
	max-width: 900px;
	gap: 2rem;
}

@media (min-width: 768px) {
	main {
		grid-template-columns: 1fr 1fr;
	}
	.galaxy {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.galaxy .link {
		margin-top: auto;
	}
}
</style>