:root {
	--font-mono: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono',
		'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
	--color-light: #f3f4f6;
}

a {
	color: inherit;
}

main {
	display: grid;
	max-width: 800px;
	gap: 2rem;
}

@media (min-width: 768px) {
	main {
		grid-template-columns: 1fr 1fr;
	}
}